body {
	background-color: lightgreen;
}

.heatmap-title {
	font-size: 20px;
	text-align: center;
	margin-bottom: 25px;
}

.heatmap-description {
	text-align: center;
	margin-bottom: 25px;
}

.heatmap {
	background-color: white;
	display: block;
	margin: auto;
}